
nav.navbar.is-dark {
  background-color: #242A2E;
}
nav.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}
a.navbar-item img {
  max-height: 2.2rem;
}

@media screen and (min-width: 1500px){
  nav.navbar {
      padding-right: 9vw;
      padding-left: 9vw;
  }
}
